* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
}

/*Aside start*/
aside {
    width: 20%;
    padding: 5%;
    height: fit-content;
    position: sticky;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul li {
    margin: 5% 0 0;
}
/*Aside end*/

/*Main start*/
main {
    width: 70%;
    padding: 5% 0 5% 5%;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-left: 1px solid gray;
}

.scrollable {
    overflow-y: auto;
    flex: 1;
}

section {
    /* padding: 0 5% 5%; */
    margin: 0 5rem 0 0;
    border: 1px solid blue
}

.article-collect {
    border: 1px solid greenyellow;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    padding: 1rem;
    border: 1px solid red;
    border-radius: 1rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

a#author {
    color: rgb(64, 74, 184);
}

article a {
    font-size: 1.3rem;
    color: green;
}

/* .title .description {
    display: flex;
}

.description {
    flex-direction: column;
} */
/*Main start*/