* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(239, 230, 223);
    /* justify-content: center; */
    /* overflow-y: hidden; */
}

.first-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    animation: fadeIn 1.5s;
}

#credentials {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 1.5rem;
    text-align: left;
    align-items: center;
    /* position: -webkit-sticky;
    position: sticky; */
}

#credentials img {
    width: 25rem;
    height: 28rem;
    object-fit: fill;
    display: block;
    border-radius: 1rem;
}

#credentials #occupations {
    width: 15rem;
    object-fit: fill;
    display: block;
    text-align: center;
    border-radius: 1rem;
}

#icon-word {
    display: flex;
    gap: 1rem;
}

#contacts, #socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: larger;
}

#featured {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 5rem 0;
    /* border: 1px solid red; */
    /* width: fit-content; */
    max-width: 50rem;
    /* max-height: 60rem; */
}

#featured-collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: inherit;
    padding: 1rem 0;
    flex-wrap: wrap;
    overflow-y: auto;
}

#project {
    padding: 1rem;
    box-shadow: 1px 5px 22px grey;
    border-radius: 1rem;
    max-width: 60rem;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    &:hover {
        box-shadow: 1px 5px 22px rgba(117, 12, 47, 0.992);
        transition: box-shadow 1s ;
        border: unset;
    }

    a {
        font-weight: bold;
        text-decoration: none;
        font-size: larger;
        color: rgba(117, 12, 47, 0.992);
    }

    img {
        width: 300px;
        height: 200px;
        object-fit: fill;
        display: block;
        border-radius: 1rem;
    }

    #desc {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }
}

.second-content {
    width: 100%;
    background-color: rgb(122, 117, 117);
    color: white;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    .skills-collection {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    #skills {
        padding: 1rem;
        border-radius: 1rem;
        max-width: 60rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    img {
        width: 200px;
        height: 200px;
        object-fit: fill;
        display: block;
        border-radius: 1rem;
    }

    #desc {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }

}

.third-content {
    width: 100%;
    background-color: white;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    a {
        text-decoration: none;
    }
   
}

.tech-collection {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    gap: 2rem;

    img {
        width: 6rem;
        height: 6rem;
    }

}

/* @media screen and (max-width: 1400px) {
    body {
        justify-content: center;
    }
} */
