* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(235, 209, 213);
    margin: 5% 10%;
}

/*TRANSACTION CARD*/
.transaction_card {
    background-color: rgb(238, 236, 236);
    /* padding: 5%; */
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid rgb(197, 196, 196);
}

.table_header {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.table_header label { font-size: 1.3em; }

.table_title {
    display: flex;
    flex-direction: column;
}

.table_header a {
    text-decoration: none;
    font-size: 1.2em;
    /* font-weight: normal; */
}

.table_header a::after{
    content: '>';
    margin-left: 20px;
}

/*TRANSACTION TABLE*/
table {
    text-align: left;
    width: 100%;
}

/*GRID ARRANGEMENT*/
tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 2%;
}

tr:hover {
    background-color: white;
}

td.payment_type, td.amount {
    display: flex;
    flex-direction: column;
}

td.payment_type {
    margin-left: 3dvw;
}

td.platform, td.amount {
    text-align: left;
    margin-left: 5dvw;
}

label, .transaction_status, .platform{
    color: gray;
}

label {
    padding: 10px 0;
}

table label, .platform {
    font-weight: bold;
}

/*TRANSACTION STATUS*/
.transaction_status { 
    color: black;
    margin: 0 0 0 15%;
    font-size: 1.2em;
    /* font-size: 1em; */
 }

.status {
    width: fit-content;
    border-radius: 20px;
    padding: 4% 6%;
    display: flex;
    font-weight: unset;
    align-items: center;
    gap: 10px;
}

.status::before {
    content: '';
    width: 10px; 
    height: 10px;
    border-radius: 50%;
}

.completed {
    background-color: rgb(196, 244, 217);
}

.completed::before {
    background-color: rgb(8, 204, 83); 
}

.pending {
    background-color: rgb(254, 255, 194);
}

.pending::before {
    background-color: rgb(243, 216, 11); 
}

.canceled {
    background-color: rgb(252, 227, 227);
}

.canceled::before {
    background-color: rgb(216, 75, 75); 
}

.action-dots {
    cursor: pointer;
    display: flex;
    justify-content: end;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.action-dots::after {
    content: '...';
    font-size: 24px; 
}

@media screen and (max-width: 1000px) {
    .action-dots {
        justify-content: center;
    }
}
