* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: fit-content;
}

#recipe-card {
    width: 30%;
    height: 80%;
}

.clip-circle {
    clip-path: circle(50%);
}

#bottom #desc p {
    display: block;
    overflow: hidden; 
    text-overflow: ellipsis;
    height: 3rem;
}

#carousel {
    overflow:visible
}