:root {
    /*Neutral*/
    --black: #263238;
    --d_grey: #4d4d4d;
    --grey: #717171;
    --l_grey: #89939E;
    --blue_grey: #abbed1;
    --silver: #f5f7fa;
    --white: #ffffff;

    /*Primary*/
    --prim_green: #4CAF4F;
    --prim_black: #263238;
    --prim_blue: #2194f3;

    /*Shade*/
    --gr_sh_1: #43A046;
    --gr_sh_2: #388E3B;
    --gr_sh_3: #237D31;
    --gr_sh_4: #1B5E1F;
    --gr_sh_5: #103E13;

    /*Tint*/
    --gr_tint_1: #66BB69;
    --gr_tint_2: #81C784;
    --gr_tint_3: #A5D6A7;
    --gr_tint_4: #C8E6C9;
    --gr_tint_5: #E8F5E9;

    /*Others*/
    --warn: #FBC02D;
    --error: #E53835;
    --success: #2E7D31;

    /*Default spacings,etc. */
    --content_padding: 10dvh 0;
    --font_fam: "Inter", sans-serif; 
}

* {
    font-family: var(--font_fam);
    margin: 0;
    /* width: 100%; */
}

nav {
    padding: 3dvh 10dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3dvh;
    align-items: center;
    background-color: var(--silver);
    /* line-height: 24px; */
}

nav img {
    width: auto;
}

nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    align-items: center;
}

nav .cta_btns{
    display: flex;
    gap: 1rem;
}


.cta_btns button, .hero_section button, .learn_section button {
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    /* padding: 10px; */
    border: none;
    border-radius: 5px;
    /* font-weight: bold; */
    padding: 1.5dvh 1.5dvw;
}

.cta_btns :nth-child(1){
    background-color: inherit;
    color: var(--gr_sh_1);
}

.cta_btns :nth-child(2), .hero_section button, .learn_section button{
    background-color: var(--gr_sh_1);
    color: var(--white);
}

/* Permanent CSS tag property */
h1 {
    color: var(--d_grey);
}

p{
    color: var(--grey);
    font-size: 1.2rem;
    line-height: 24px;
}

.hero_section {
    display: flex;
    padding: var(--content_padding);
    justify-content: space-around;
    background-color: var(--silver);
}

.hero_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    line-height: 50px;
}

.hero_desc h1{
    font-size: 4rem;
}

.hero_desc mark, .metric_desc mark, .author_desc h2, .test_logos h2,
.read_desc a{
    background-color: unset;
    color: var(--prim_green);
}

.hero_section button, .learn_section button {
    padding: 2.5dvh 2.5dvw;
    font-size: 1.2rem;
}

.testimony_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5dvh 0;
    align-items: center;
}

.testimony_section .test_logos {
    padding: var(--content_padding);
    display: flex;
    gap: 10dvw;
    justify-content: space-around;
}

.testimony_section p, .last p{
    padding-top: 20px;
}

.testimony_section h1:nth-of-type(2){
    max-width: 32dvw;
    text-align: center;
}

.customer_logos {
    display: flex;
    padding: var(--content_padding);
    justify-content: space-evenly;
    align-items: start;
}

.customer_logos .customer_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3dvh;
    text-align: center;
    width: 23%;
}

.customer_card h1 {
    max-width: 15dvw;
}

.customer_card p{
    padding-top: unset;
    font-size: 1.1rem;
}

.learn_section{
    display: flex;
    /* padding: var(--content_padding); */
    justify-content: center;
}

.learn_section .learn_desc{
    width: 40%;
}

.learn_desc h1{
    max-width: 32dvw;
    padding-top: 10dvh;
}

.learn_section button {
    margin-top: 20px;
}

.learn_section p{
    font-size: 1rem;
    line-height: 20px;
}

.customer_metrics, .author_notes{
    background-color: var(--silver);
    display: flex;
    padding: var(--content_padding);
    justify-content: space-evenly;
}

.customer_metrics .metric_desc{
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.metric_desc h1{
    font-size: 2.5rem;
}

.metric_numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5dvw;
    grid-row-gap: 5dvh;
}

.metric_numbers:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.metric_numbers:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.metric_numbers:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
.metric_numbers:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }

.metric_card {
    display: flex;
    gap: 2dvw;
}

.metric_card_desc { 
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.last{
    padding: var(--content_padding);
}

.last .learn_desc h1 {
    max-width: unset;
    font-size: 2.2rem;
}

.author_notes{
    background-color: var(--silver);
    padding: 4dvh 0;
}

.author_desc {
    width: 55%;
    line-height: 24px;
}

.author_desc p, .author_desc h2{
    padding-bottom: 2dvh;
}

.author_desc .test_logos {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.author_desc .test_logos h2{
    padding-bottom: unset;
}

.author_desc .test_logos h2 a{
    text-decoration: unset;
    color: unset;
}

.read_section {
    padding: 5dvh 0 10dvh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.read_section h1{
    font-size: 2.2rem;
}

.read_section p{
    width: 50%;
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 2dvh;
}

.read_cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.read_card {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.read_card .read_desc {
    display: flex;
    z-index: 1;
    background-color: var(--silver);
    margin: -9dvh 2dvw 0 2dvw;
    padding-bottom: 3dvh;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 20px var(--l_grey);
    font-weight: bold;
}

.read_desc p {
    width: 85%;
    font-size: 1.2rem;
    padding: 3dvh 0;
}

.read_desc a{
    font-size: 1.17rem;
}

.end_section {
    padding: var(--content_padding);
    background-color: var(--silver);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end_section h1 {
    font-weight: bold;
    font-size: 4rem;
    width: 50%;
    color: var(--black);
}

.end_section button {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: var(--gr_sh_1);
    color: var(--white);
    border-radius: 5px;
    margin-top: 20px;
    padding: 2.5dvh 2.5dvw;
    font-size: 1rem;
}

.footer_section {
    background-color: var(--black);
    color: var(--white);
    padding: 10dvh 10dvw;
    display: flex;
    justify-content: space-evenly;
}

.footer_section h1 {
    color: unset;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.copyright img {
    margin-bottom: 10%;
}

.copyright h4, .cta_col h4 {
    font-weight: normal;
}

.social_icons {
    display: flex;
    gap: 1.5dvw;
}

.social_icons img {
    transform: scale(1.1);
}

.more_cta {
    display: flex;
    gap: 5dvw;
}

.more_cta h2 {
    margin-bottom: 10%;
}

.cta_col {
    display: flex;
    flex-direction: column;
    font-weight: unset;
    gap: 2dvh;
}

.email_subscription {
    background-color: #515b60;
    border-radius: 8px;
}


input, button {
    fill: none;
    background: none;
    border: none;
    padding: 15px;
    font-size: medium;
}

input::placeholder, input:focus{
    color: var(--blue_grey);
    font-size: medium;
}

@media screen and (max-width: 600px) {
    body, nav, .hero_section {
        width: 100%;
        /* margin: 25%; */
    }

    .hero_section, .hero_desc, .hero_section img {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5dvh;
    }

    /* .hero_section {
        margin: 10%;
    } */
}
