* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
}

main {
    width: 100%;
    height: 100vh;
}

section#card {
    display: flex;
    width: 70%;
    padding: 6% 5%;
    height: fit-content;
}

/* section section {
    flex: 1;
    height: fit-content;
} */

@media screen and (max-width: 1280px) {
    main {
        height: fit-content;
    }

    section#card {
        flex-direction: column;
        gap: 1.25rem;
        width: fit-content;
        align-items: center;
        /* padding: 10%; */
    }

    #first {
       align-items: center;
       width: 30rem;
       text-align: center;
    }

    #first h4, #first h3{
        width: 25rem;
    }

    #second {
        width: 25rem;
        
    }

    #second img {
        width: inherit;
        height: 24rem;
    }
    
}